@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<h1>My Cheeses</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a>
<a asp-controller="Cheese" asp-action="Remove">Remove Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}

<ul>
    @foreach (CheeseMVC.Models.Cheese cheese in ViewBag.cheeses)
    {
        <li>@cheese.Name - @cheese.Desc <a asp-controller="Cheese" asp-action="Edit" asp-route-id="@cheese.CheeseId">Edit</a></li>
    }

</ul>
